{% extends 'layout.html' %} {% block content %}

<section class="section">
  <div class="columns">
    <!-- User Profile -->
    <div class="column is-two-fifths">
      <div class="frame">
        <div class="center">
          <div class="profile">
            <div class="image">
              <div class="circle-1"></div>
              <div class="circle-2"></div>
              <img
                src="{{url_for('static',filename='images/profile_pictures/'+user.image_file)}}"
                width="70"
                height="70"
              />
            </div>

            <div class="name">
              {{user.name if user.name else user.username}}
            </div>
            <div class="job">@{{user.username}}</div>
            <div class="name">
              {{user.bio}}
            </div>
            <div class="name">
              {{user.location}}
            </div>

            <div class="actions">
              {%if user.username != current_user.username%}
              <button class="btn">Follow</button>
              {%endif%} {%if user.username == current_user.username%}
              <a href="{{url_for('account')}}" class="btn">Update Profile</a>
              {%endif%}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End User Profile -->
    <div class="column">
      <!-- Start Post Form here -->
      {% if current_user.is_authenticated and current_user.username ==
      user.username %}
      <form action="" method="POST">
        {{form.hidden_tag()}}
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img
                class="is-rounded"
                src="{{url_for('static',filename='images/profile_pictures/'+current_user.image_file)}}"
              />
            </p>
          </figure>
          <div class="media-content">
            <div class="field">
              {%if form.post.errors%} {%for error in form.post.errors %}
              {{form.post(class="textarea is-danger")}}
              <div class="has-text-weight-light has-text-danger">
                {{error}}
              </div>
              {%endfor%} {%else%}
              <p class="control">
                {{form.post(class="textarea")}}
              </p>
              {%endif%}
            </div>
            <nav class="level">
              <div class="level-right">
                <div class="level-item">
                  {{form.submit(class="button primary-bg-color")}}
                </div>
              </div>
            </nav>
          </div>
        </article>
      </form>
      {%endif%}
      <br />
      <!-- End post form here -->
      {%for post in posts.items %}
      <div class="box">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img
                class="is-rounded"
                src="{{url_for('static',filename='images/profile_pictures/'+post.author.image_file)}}"
              />
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong
                  >{{post.author.name if post.author.name else
                  post.author.username}}</strong
                >
                <small>@{{post.author.username}}</small>
                <small>{{post.datePosted}}</small>
                <br />
                {{post.content}}
              </p>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item" aria-label="reply">
                  <span class="icon is-small">
                    <i class="fas fa-reply" aria-hidden="true"></i>
                  </span>
                </a>
                <a class="level-item" aria-label="retweet">
                  <span class="icon is-small">
                    <i class="fas fa-retweet" aria-hidden="true"></i>
                  </span>
                </a>
                <a class="level-item" aria-label="like">
                  <span class="icon is-small">
                    <i class="fas fa-heart" aria-hidden="true"></i>
                  </span>
                </a>
              </div>
              <!-- Edit and delete starts here -->
              {%if current_user.is_authenticated and current_user ==
              post.author%}
              <div class="level-right">
                <a
                  class="level-item"
                  aria-label="delete"
                  href="{{url_for('deletePost',postId=post._id)}}"
                >
                  <span class="icon is-small has-text-danger">
                    <i class="fas fa-trash" aria-hidden="true"></i>
                  </span>
                </a>
                <a
                  class="level-item"
                  aria-label="edit"
                  id="edit"
                  href="{{url_for('updatePost',post_id=post._id)}}"
                >
                  <span class="icon is-small">
                    <i class="fas fa-pen" aria-hidden="true"></i>
                  </span>
                </a>
              </div>
              {%endif%}
              <!-- Edit and delete ends here -->
            </nav>
          </div>
        </article>
      </div>
      <br />
      {% endfor%}
      <!-- End Post Listing here -->

      <!-- Pagination Starts Here -->
      <nav
        class="pagination is-rounded"
        role="navigation"
        aria-label="pagination"
      >
        <a class="pagination-previous">Previous</a>
        <a class="pagination-next">Next page</a>
        <ul class="pagination-list">
          {%for page_num in
          posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2)%}
          {% if page_num %} {%if posts.page == page_num%}
          <li>
            <a
              class="pagination-link is-current"
              href="{{url_for('userProfile',page=page_num, username = user.username)}}"
              >{{page_num}}</a
            >
          </li>
          {%else%}

          <li>
            <a
              class="pagination-link"
              href="{{url_for('userProfile',page=page_num, username = user.username)}}"
              >{{page_num}}</a
            >
          </li>
          {%endif%} {%else%} ... {%endif%} {%endfor%}
        </ul>
      </nav>
      <!-- End pagination here -->
    </div>
  </div>
</section>

{%endblock content%}
